.title-bar {
    -fx-background-color: #202020;
}

.primary {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.success {
    -fx-background-color: #333333;
}

.btn-primary {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffff;
}

.btn-success {
    -fx-border-radius: 50px;
    -fx-background-color: #808080;
    -fx-text-fill: #282821;
}

.choice-box .context-menu {
      -fx-background-color: #282821;
}

.txt-primary {
    -fx-font-family: "Popping";
    -fx-text-fill: #FFFFFF;
}

.text-area.content {
    -fx-text-alignment: left;
}

.list-view .list-cell:even {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
}
.list-view .list-cell:odd {
    -fx-background-color: #383838;
    -fx-text-fill: #FFFFFF;
}

.label {
    -fx-text-fill: #FFFFFF;
}