.title-bar{
    -fx-background-color: #8B0000;
}

.primary{
    -fx-background-color: #8B0000;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.success{
    -fx-background-color: #F5F5F5;
}

.btn-primary{
    -fx-border-radius: 0;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #282821;
    -fx-border-color: #808080;
}

.btn-success{
    -fx-border-color: #808080;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #282821;
}

.txt-primary{
    -fx-text-fill: #282821;
}

.text-area.context {
    -fx-text-alignment: left;
}

.list-view .list-cell:even {
-fx-background-color: #FFFFFF;
-fx-text-fill: #000000;
}
.list-view .list-cell:odd {
-fx-background-color: #F5F5F5;
-fx-text-fill: #000000;
}